{% extends 'learning_logs/base.html' %}

{% block content %}
<title>Topic: {{ topic }}</title>
<h1>Topic: {{ topic }}</h1>
<p>Entries</p>
<p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}">
        <button type="submit">add new entry</button>
    </form>
</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
            <form action="{% url 'learning_logs:edit_entry' entry.id %}">
                <button type="submit">edit entry</button>
            </form>
        </p>
    </li>
    {% empty %}
    <li>
        There are no entries for this topic yet
    </li>
    {% endfor %}
</ul>

{% endblock content %}