
{% block title %}Login{% endblock %}

{% block content %}
<title>login</title>
  <h2>Login</h2>
  
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Login"></td>
        </tr>                
      </table>
    </form>
    <form action="{% url 'users:signup' %}">
      <button type="submit">Registration</button>
    </form>
    <form action="{% url 'learning_logs:index' %}">
      <button type="submit">Back to home</button>
    </form>
{% endblock %}